/*

Stimulus Template

http://www.templatemo.com/tm-498-stimulus

*/

body {
	background: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
	font-weight: 300;
    overflow-x: hidden;
}

html,body {
  width: 100%;
  height: 100%;
}


/*---------------------------------------
    Typorgraphy              
-----------------------------------------*/

h1,h2,h3,h4,h5,h6 {
  font-style: normal;
  font-weight: 300;
}

h1,h2,h3 {
  font-weight: 300;
}

h1 {
  font-size: 42px;
  padding-bottom: 14px;
  margin-bottom: 0px;
}

h2 {
  font-size: 42px;
  line-height: 52px;
  margin-top: 0px;
}

h3 {
  font-size: 18px;
  line-height: 32px;
  padding-bottom: 6px;
}

h4 {
  color: #999;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 6px;
}

h5 {
  color: #666666;
}

strong {
  color: #232B2B;
  font-weight: normal;
}

p {
    color: #2a2a2a;
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.2px;
}

.section-btn {
  background-color: transparent;
  border: 3px solid #232B2B;
  border-radius: 100px;
  color: #232B2B;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1.6px;
  padding: 12px 36px;
  margin-top: 42px;
  transition: all 0.4s ease-in-out;
  text-transform: uppercase;
}

.section-btn:hover {
  background: #E3AE57;
  border-color: transparent;
  color: #ffffff;
}

.btn-success:focus {
  background-color: #000;
  border-color: transparent;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
}

.section-title {
  position: relative;
  padding-bottom: 22px;
}

#about,
#service,
#experience,
#education,
#contact {
  position: relative;
}

#home .container,
#about .container, 
#experience .container,
#service .container,
#education .container,
#contact .container {
  width: 100%;
  padding: 0;
  margin: 0;
}

#experience .experience-thumb,
#education .education-thumb  {
  padding: 22px 42px 42px 42px;
}

#service,
#quotes,
footer {
  text-align: center;
}

#experience,
#education {
  background: #E9724C;
}

.background-image {
    background-position: 50% 50% !important;
    background-size: cover !important;
    width: 100%;
    height: 100%;
    min-height: 75vh;
    /* position: absolute; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.better-image {
  background-position: 50% 50% !important;
  background-size: cover !important;
  width: 100%;
  height: 100%;
  min-height: 75vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.color-white {
  color: #ffffff;
}

.color-yellow {
  color: #8b5e15;
}

.center {
  text-align: center;
}

.bg-yellow {
  background: #E3AE57;
}

.bg-white {
  background: #ffffff;
}

.bg-dark {
  background: #161616;
}



/*---------------------------------------
    General               
-----------------------------------------*/

html{
  -webkit-font-smoothing: antialiased;
}

a {
  color: #E3AE57;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}
a:hover, a:active, a:focus {
  color: #E3AE57;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



/*---------------------------------------
    Preloader section              
-----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.spinner {
  border: 1px solid transparent;
  border-radius: 5px;
  position: relative;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #E3AE57;
  border-top-color: #f9f9f9;
  animation: spinner .6s linear infinite;
}

@-webkit-@keyframes spinner {
  to {transform: rotate(360deg);}
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}



/*---------------------------------------
    Navigation section              
-----------------------------------------*/

.custom-navbar {
    margin-bottom: 0;
    background-color: #ffffff;
}

.custom-navbar .navbar-brand {
    color: #333;
	text-shadow: 1px 1px #fff;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 1px;
}

.custom-navbar .nav li a {
    color: #666;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 40px;
    transition: all 0.4s ease-in-out;
}

.custom-navbar .nav li a:hover {
    background: transparent;
    color: #E3AE57;
}

.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus {
  background-color: transparent;
}

.custom-navbar .nav li.active > a {
    background-color: transparent;
    color: #E3AE57;
}

.custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
}

.custom-navbar .navbar-toggle {
    background-color: transparent;
}

.custom-navbar .navbar-toggle .icon-bar {
    background: #E3AE57;
    border-color: transparent;
}

@media(min-width:768px) {
    .custom-navbar {
        padding: 12px 0;
        border-bottom: 0;
        background: 0 0; 
    }
    .custom-navbar.top-nav-collapse {
        background: #ffffff;
        box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
        padding: 0;
    }

}



/*---------------------------------------
    Home section              
-----------------------------------------*/

#home h1 {
  padding-bottom: 18px;
}

#home .col-md-6 {
  background: #f1e2d7;
/* light blue color: #c3eafd; */
  padding-right: 0;
  padding-left: 0;
}

#home .home-img {
  background: url('../images/home-img.jpg') no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 100vh;
}

#home .home-thumb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  padding: 0 45px 0 45px;
}



/*---------------------------------------
   About section              
-----------------------------------------*/

#about .about-img {
  background: url('../images/syfc-2.jpg') 50% 0 no-repeat;
}

#about .about-thumb,
#about .skill-thumb {
  padding: 22px 32px 32px 32px;
}

#about .progress {
  background: #ffffff;
  border-radius: 0px;
  box-shadow: none;
  height: 2px;
}

#about .progress-bar-primary {
  background: #232B2B;
}

#about strong,
#about span {
  font-weight: bold;
  display: inline-block;
  padding-bottom: 8px;
}



/*---------------------------------------
    Service section              
-----------------------------------------*/

#service {
  background: #E9724C;
}

#service p {
  font-size: 18px;
  line-height: 30px;
}

#service .service-thumb {
  padding: 52px 22px 52px 22px;
}

#service .service-thumb .fa {
  font-size: 42px;
  padding-bottom: 22px;
}



/*---------------------------------------
    Experience section              
-----------------------------------------*/

#experience .experience-img {
  background: url('../images/syfc-3.jpg') no-repeat;
}

/* work */
/* leader */
#education .erudites-img {
  background: url('../images/images.202.jpeg') no-repeat;
}

#experience .rangers-img {
  background: url('../images/images.204.jpeg') no-repeat;
}

#education .oicosec-img {
  background: url('../images/images.203.jpeg') no-repeat;
}

#experience .syfcleader-img {
  background: url('../images/images.002.jpeg') no-repeat;
}

#education .sstdemoteam-img {
  background: url('../images/images.063.jpeg') no-repeat;
}

#experience .nyaa-img {
  background: url('../images/images.050.jpeg') no-repeat;
}

#education .vicechair-img {
  background: url('../images/images.001.jpeg') no-repeat;
}

/* academics */
#experience  .idpacadexcel-img {
  background: url('../images/images.205.jpeg') no-repeat;
}
#education  .cdcmerit-img {
  background: url('../images/images.003.jpeg') no-repeat;
}
#experience  .scholarship-img {
  background: url('../images/images.004.jpeg') no-repeat;
}
/* steam-related */





/* Education: AI for Industry | Literacy in AI 2023 */
#education .AI-img {
  background: url('../images/images.011.jpeg') no-repeat;
}
#experience .capstone-img {
  background: url('../images/images.040.jpeg') no-repeat;
}


#education .capstonedistinction-img {
  background: url('../images/images.206.jpeg') no-repeat;
}
#experience .capstonepca-img {
  background: url('../images/images.208.jpeg') no-repeat;
}


#education .techno-img {
  background: url('../images/images.064.jpeg') no-repeat;
}

/* Experience: Big-D Camp 2024 */
#experience .bigd-img {
  background: url('../images/images.024.jpeg') no-repeat;
}

/* Education: International Perse Coding Team Challenge (Merit in Round 2 Final, 2024) */
#education .perse-img {
  background: url('../images/images.021.jpeg') no-repeat;
}

/* Experience: Singapore Junior Physics Olympiad (Individual and Team, 2023) */
#experience .sjpo-img {
  background: url('../images/images.022.jpeg') no-repeat;
}

/* Education: ARTC Camp 2023 */
#education .artc-img {
  background: url('../images/images.023.jpeg') no-repeat;
}

/* Experience: Splash Awards 2023 */
#experience .splash-img {
  background: url('../images/images.020.jpeg') no-repeat;
}

/* Education: Flight Experience Programme 2023 */
#education .FEP-img {
  background: url('../images/images.009.jpeg') no-repeat;
}

/* Experience: SAFMC/SIAC 2022/2023 */
#experience .SAFMC-img {
  background: url('../images/images.010.jpeg') no-repeat;
}

#education .sstinc-img {
  background: url('../images/images.015.jpeg') no-repeat;
}

/* Experience: Sus-city (currently still deployed) 2022 */
#experience .suscity-img {
  background: url('../images/images.016.jpeg') no-repeat;
}

/* Education: SST INC Best App of the Year 2022 */
#education .bestapp-img {
  background: url('../images/images.017.jpeg') no-repeat;
}

/* Experience: San Francisco Learning Journey */
#experience .sanfrans-img {
  background: url('../images/images.018.jpeg') no-repeat;
}

/* Education: Swift Accelerator Programme (SAP) 2022 */
#education .SAP-img {
  background: url('../images/images.013.jpeg') no-repeat;
}

/* Experience: App Development with Swift | Associate 2022 */
#experience .swift-img {
  background: url('../images/images.012.jpeg') no-repeat;
}

/* Education: PlaneMail (Currently on the App Store) 2022 */
#education .planemail-img {
  background: url('../images/images.014.jpeg') no-repeat;
}

/* Experience: Changemakers InnoFest 2022 */
#experience .innofest-img {
  background: url('../images/images.019.jpeg') no-repeat;
}

/* Education: SIC (School Programmes) */
#education .SIC-img {
  background: url('../images/images.008.jpeg') no-repeat;
}

/* Experience: Cyber Silver Explorer 2021 */
#experience .cybersilver-img {
  background: url('../images/images.007.jpeg') no-repeat;
}

/* Education: RSM Foundation International Math Contest 2021 */
#education .RSM-img {
  background: url('../images/images.006.jpeg') no-repeat;
}

/* Experience: Youth Cyber Exploration Programme 2021 */
#experience .ycep-img {
  background: url('../images/images.005.jpeg') no-repeat;
}




/* seperation */


#experience .mousetrap-img {
  background: url('../images/images.025.jpeg') no-repeat;
}
#education .iss-img {
  background: url('../images/images.026.jpeg') no-repeat;
}
#experience .homecircuit-img {
  background: url('../images/images.027.jpeg') no-repeat;
}
#education .sciencecom-img {
  background: url('../images/images.028.jpeg') no-repeat;
}
#experience .antenna-img {
  background: url('../images/images.029.jpeg') no-repeat;
}
#education .sec1math-img {
  background: url('../images/images.030.jpeg') no-repeat;
}
#experience .sec2math-img {
  background: url('../images/images.031.jpeg') no-repeat;
}
#education .sec3math-img {
  background: url('../images/images.032.jpeg') no-repeat;
}
#experience .sec4math-img {
  background: url('../images/images.033.jpeg') no-repeat;
}
#education .sec3computing-img {
  background: url('../images/images.034.jpeg') no-repeat;
}
#experience .sec4computing-img {
  background: url('../images/images.035.jpeg') no-repeat;
}
#education .sec3elect-img {
  background: url('../images/images.036.jpeg') no-repeat;
}
#experience .sec4elect-img {
  background: url('../images/images.037.jpeg') no-repeat;
}
#education .idc-img {
  background: url('../images/images.038.jpeg') no-repeat;
}
#experience .ict-img {
  background: url('../images/images.039.jpeg') no-repeat;
}

/* Other */
#experience  .ADMT-img {
  background: url('../images/images.041.jpeg') no-repeat;
}
#education  .IE-img {
  background: url('../images/images.042.jpeg') no-repeat;
}
#experience  .rsaf-img {
  background: url('../images/images.043.jpeg') no-repeat;
}
#education  .jaecon-img {
  background: url('../images/images.044.jpeg') no-repeat;
}#experience  .jabusiness-img {
  background: url('../images/images.045.jpeg') no-repeat;
}
#education  .chinese-img {
  background: url('../images/images.046.jpeg') no-repeat;
}
#experience  .hsi-img {
  background: url('../images/images.047.jpeg') no-repeat;
}


#education  .hum1-img {
  background: url('../images/images.056.jpeg') no-repeat;
}
#experience  .hum2-img {
  background: url('../images/images.057.jpeg') no-repeat;
}
#education  .hum3-img {
  background: url('../images/images.058.jpeg') no-repeat;
}#experience  .hum4-img {
  background: url('../images/images.059.jpeg') no-repeat;
}
#education  .eng1-img {
  background: url('../images/images.060.jpeg') no-repeat;
}
#experience  .eng2-img {
  background: url('../images/images.061.jpeg') no-repeat;
}
#education  .eng3-img {
  background: url('../images/images.062.jpeg') no-repeat;
}


/* service learning */
#experience  .maris-img {
  background: url('../images/images.048.jpeg') no-repeat;
}
#education  .willing-img {
  background: url('../images/images.049.jpeg') no-repeat;
}
#experience  .labb-img {
  background: url('../images/images.051.jpeg') no-repeat;
}
#education  .bbs-img {
  background: url('../images/images.052.jpeg') no-repeat;
}
#experience  .class3-img {
  background: url('../images/images.054.jpeg') no-repeat;
}
#education  .class4-img {
  background: url('../images/images.055.jpeg') no-repeat;
}

/* workexperience */
#experience .work-img {
  background: url('../images/images.201.jpeg') no-repeat;
}

/* work */
#experience .media-heading {
  margin-bottom: 0px;
}

#experience .media .fa {
  font-size: 42px;
  margin-right: 14px;
}

#experience small {
  color: #633;
  font-weight: bold;
}

/*---------------------------------------
    Education section              
-----------------------------------------*/

#education {
  background: #E3AE57;
  /* background: #E3AE57; */

}

#education .education-img {
  background: url('../images/education-img.jpg') no-repeat;
}

#education .media-heading {
  margin-bottom: 0px;
}

#education .media .fa {
  font-size: 42px;
  margin-right: 14px;
}

#education small {
  color: #886D1E;
  font-weight: bold;
}



/*---------------------------------------
   Quotes section              
-----------------------------------------*/

#quotes {
    background: url('../images/quotes-bg.jpg') 50% 0 repeat-y fixed;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    position: relative;
    padding: 100px 0px;
}

#quotes .overlay {
    background: #121212;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0.7;
}

#quotes .fa {
  font-size: 42px;
  margin-top: 32px;
  margin-bottom: 22px;
}

#quotes p {
  padding-top: 32px;
}


/*---------------------------------------
    Contact section              
-----------------------------------------*/

#contact {
  background: #E9724C;
}

#contact .contact-form,
#contact .contact-thumb {
  padding: 22px 32px 22px 32px;
  min-height: 75vh;
}

#contact .contact-img {
  background: url('../images/contact-img.jpeg') no-repeat;
  min-height: 75vh;
}

#contact .contact-info {
  padding-top: 6px;
  padding-bottom: 6px;
}

#contact .form-control::-moz-placeholder{color:#ffffff;opacity:1}
#contact .form-control:-ms-input-placeholder{color:#ffffff}
#contact .form-control::-webkit-input-placeholder{color:#ffffff}

#contact .form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #E3AE57;
  border-radius: 0px;
  box-shadow: none;
  color: #ffffff;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 25px;
  transition: all 0.4s ease-in-out;
}

#contact .form-control:focus {
  border-bottom-color: #ffffff;
}

#contact input {
  height: 45px;
}

#contact input[type="submit"] {
  background: #ffffff;
  border: 2px solid transparent;
  border-radius: 40px;
  color: #161616;
  padding-bottom: 10px;
}

#contact input[type="submit"]:hover {
  background: transparent;
  border-color: #ffffff;
  color: #ffffff;
}

#contact .fa {
  padding-right: 10px;
}



/*---------------------------------------
   Footer section              
-----------------------------------------*/

footer {
    padding: 140px 0px;
}



/*---------------------------------------
   Social icon             
-----------------------------------------*/

.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    border: 2px solid transparent;
    color: #999;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin: 22px 4px 10px 4px;
}

.social-icon li a:hover {
    background: #E3AE57;
    border-color: #ffffff;
    color: #ffffff;
    transform: scale(1.1);
}



/*---------------------------------------
   Mobile Responsive         
-----------------------------------------*/

@media only screen and (max-width: 580px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
    line-height: inherit;
  }

  h3 {
    font-size: 18px;
    line-height: inherit;
    /* font-weight: 10000; */

  }
}

@media only screen and (max-width: 767px) {
  .custom-navbar .navbar-brand {
    line-height: 18px;
  }

  #home .home-thumb {
    height: auto;
    padding-top: 32px;
    padding-bottom: 12px;
  }

  #home .container,
  #about .container, 
  #experience .container,
  #service .container,
  #education .container,
  #contact .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  #about .col-md-3,
  #experience .col-md-6,
  #education .col-md-6,
  #contact .col-md-3 {
    padding: 0;
    margin: 0;
  }

  .background-image {
    position: relative;
    min-height: 65vh;
  }
}

@media only screen and (max-width: 1024px) {
  .section-title {
    padding-bottom: 12px;
  }

  footer {
    padding: 40px 0;
  }
}
